@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9bvpur');
  src:  url('fonts/icomoon.eot?9bvpur#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9bvpur') format('truetype'),
    url('fonts/icomoon.woff?9bvpur') format('woff'),
    url('fonts/icomoon.svg?9bvpur#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icons-"], [class*=" icons-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icons-star-empty:before {
  content: "\e905";
}
.icons-star-full:before {
  content: "\e901";
}
.icons-star-half:before {
  content: "\e902";
}
